<div class="sortButton">
  <h1>Sort by :</h1>
  <button (click)="change('app_name')">Name</button>
  <button (click)="change('all_rating')">Rating</button>
  <button (click)="change('all_type')">Type</button>
  <button (click)="change('file_size')">Size</button>
  <button (click)="change('version')">Version</button>
</div>
<div class="gamePage">

  <div *ngFor="let App of infoMas" class="gameBlock" routerLink="/game/{{App.app_short | lowercase }}">
    <img src="{{App.url}}">
    <h2>{{App.app_name}}</h2>
    <p>✩ {{App.all_rating}}</p>
  </div>
</div>
